{% extends "base.html" %}
{% load static %}


{% block pagetitle %}
<span >
  <h3 class="flask_section-title">
    <span class="active"><a href="{% url 'index'%}"> New Questions </a></span>
    <span><a href="{% url 'hot_questions'%}"> Hot Questions </a></span>
  </h3>
</span>
{% endblock %}


{% block pageContent %}  
{% for question in questions %}   
<div class="flask_question_block"> <!-- question block-->
  <div class="row">
    <div class="col-md-2 flask__question-block_user-data">
      <img src="{% static 'images/avatar.jpg' %}" class="img-circle flaske__user-avatar" width="110" height="110">
      <p><a href="{% url 'profile'  question.user_name  %}"><b>{{ question.user_name }}</b></a></p>

      {% if question.user_rating >= 0 %}
        <p>Rating: <span class="like"><b> +{{ question.user_rating }}</b></span></p>
      {% else %}
        <p>Rating: <span class="dislike"><b> {{ question.user_rating }}</b></span></p>
      {% endif %}

      <div class="btn-group-vertical">
        <button type="button" class="btn btn-success btn-md">
          <span class="glyphicon glyphicon-chevron-up"></span>          
        </button>
        <button type="button" class="btn btn-danger btn-md">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
      </div>
    </div>
    <div class="col-md-9">
    {% if question.question_rating >= 0 %}
      <p>
        <span class="flask__question-rate like pull-right"><b> +{{ question.question_rating }}</b></span>
      </p>   
    {% else %}
      <p>
        <span class="flask__question-rate dislike pull-right"><b> {{ question.question_rating }}</b></span>
      </p> 
    {% endif %}       
      <p>
        <a href="{% url 'question' question.id %}"><strong> {{ question.title }}</strong></a>
      </p>         
      <p>{{ question.text }}</p>
    </div>  
    <div class="col-md-9 col-md-offset-2 flaske__bottomblock">
      <p>
        <a href="{% url 'developing'%}" class="pull-right">December 22, 2012</a>      
        <a href="{% url 'question' question.id %}">Answers <span class="badge">4</span></a>
        Tags: 
        {% for tag in question.tags %}
        <a href="{% url 'tag' tag.tag %}">#{{ tag.tag }}</a>
        {% endfor %}
      </p>
    </div>       
   </div>
  </div> <!-- /.question block-->
  {% endfor %}
  
{% endblock %}






