{% extends "base.html" %}
{% load static %}

{% block pageContent %}
{% if profile  != 0 %}
<div class="row flask_question_block">
	<div class="col-md-2 flask__question-block_user-data">
		<img src="/{{ profile.avatar.url }}" class="img-circle flaske__user-avatar" width="110" height="110">
		<p><b>{{ profile.name }}</b></p>

		{% if profile.rating >= 0 %}
		<p>Rating: <span class="like"><b> +{{ profile.rating }}</b></span></p>
		{% else %}
		<p>Rating: <span class="dislike"><b> {{ profile.rating }}</b></span></p>
		{% endif %}

	</div>
	<div class="col-md-9">             
		<p>{{ profile.info }}</p>        
	</div>
</div>
{% endif %}

<legend></legend>

	{% for question in questions %}   
	  {% include 'question_block.html' %}
	{% endfor %}
{% endblock %}